#putItAllHere {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutH1 {
    padding: 1%;
    text-align: center;
    font-size: 30px;
    background-repeat: no-repeat;
}

.backGroundSetup {
    margin: 10px;
    background-image: 
    linear-gradient(
    to top right,
      rgba(244, 142, 142, 0.418), rgba(207, 56, 18, 0.418), rgba(245, 118, 118, 0.418)
    );    
    border-radius: 10px;
    width: 70%;
}

#aboutSpan {
    text-align: center;
}

#aboutUl {
    display: flex;
    flex-direction: column;
}

#secondSpan{
    margin-top: 5%;
}

@media screen and (max-width: 350px) {
    #aboutH1 {
        font-size: 20px;
        padding: 0 0;
    }
}

@media (min-width: 351px) and (max-width: 800px) {
    #aboutH1 {
        padding: 0 0;
    }
}