#formList {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 0;
    gap: 10px;
}

.formButton {
    background: rgba(0,0,0,0);
    border: 1px solid black;
    color: black;
}

#contactBox {
    display: flex;
    justify-content: center;
}

.fullField {
    width: 100%;
}



.halfField {
    width: 50%;
    margin: 10px;
}

@media (min-width: 400px) and (max-width: 600px) {
    .messageText {
        width: 87%;
    }

    .halfField {
        width: 40%;
    }
}

@media screen and (max-width: 399px) {
    .messageText {
        width:  80%;
    }

    ::placeholder {
        font-size: 13px;
    }

    .halfField {
        width: 35%;
    }
}

.inputBoxes {
    display: flex;
}

.messageText {
    padding: 0;
    border: black solid 1px;
    box-sizing: border-box;
    margin:  10px -1px;
}

.messageInputDiv {
    display: flex;
    flex-direction: column;
    margin-left: 2.5%;
}

textarea {
    resize: none;
}

.seeThrough {
    background: rgba(0,0,0,0);
}

.needsBorder {
    border: 1px black solid;
}

.seeThrough::placeholder {
    color: rgb(0, 0, 0, .5);
    font-style: italic;
}