.indexHome {
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    background-image: 
    linear-gradient(
    to top right,
      rgba(244, 142, 142, 0.418), rgba(207, 56, 18, 0.418), rgba(245, 118, 118, 0.418)
    );    
    border-radius: 10px;
    width: 70%;
}

#flexThisDiv {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    padding: 5px;
    margin-top: 10px;
}

.fullWidth {
    width: 100%;
}

.shrinkThisDiv {
    margin-top: 10px;
}

.smallerText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    height: 170px;
}

.centerMe {
    text-align: center;
}

a {
    color: rgb(80, 4, 4);
}

#indexHome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.margin-right {
    margin-right: 10px;
    width: 50%;
}

.customHeaderHeight {
    height: 20px;
}

.margin-left {
    margin-left: 10px;
    width: 50%;
}

@media screen and (max-width: 783px) {
    .bigTextSmall {
        font-size: 18px;
    }

    .smallerText {
        font-size: 17px;
    }

    #flexThisDiv {
        flex-direction: column;
    }

    .shrinkThisDiv {
        width: 100%;
    }

    #flexThisDiv, .bigTextSmall,.smallerText .shrinkThisDiv{
        padding: 0;
        margin: 0;
    }

    .margin-left {
        margin: 15px 0 0 0;
    }

    .margin-right {
        margin: 0;
    }

    #flexThisDiv {
        margin-top: 15px;
    }

    .smallerText {
        padding: 0;
    }   
}

@media screen and (max-width: 500px) {
    .smallerText {
        height: 275px;
    }

    .customHeaderHeight {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}