#teamBuilderBox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: 
    linear-gradient(
     gray, rgb(69, 67, 67), gray
    );
}

.teamForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loadTeamsButton, .clearTeamsButton {
    height: 42.67px;
}

.pokeTeamHolder {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    margin: 1%;
    border: 1px solid;
    border-image:
    linear-gradient(
        to right,
     black, red, black
    ) 1;
}

.teamTopper {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-image:
    linear-gradient(
        to right,
     black, red, black
    ) 1;
    box-sizing: border-box;
}

.pokemonInTeamName {
    padding-bottom: 5px;
}

#pokeTeamHolderMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pokeSprites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    border: 1px solid;
    border-image:
    linear-gradient(
        to right,
     black, red, black
    ) 1;
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    #teamBuilderBox *{
        font-size: 9px;
    }

    ::placeholder {
        font-size: 9px;
    }

    .teamInputBox {
        width: 80px;
    }

    .loadTeamsButton, .clearTeamsButton {
        height: 34.67px;
    }

    .pokeTeamHolder {
        font-size: 16px;
    }
    
    .teamDeleteButton {
        font-size: 16px;
    }
}

@media screen and (max-width: 950px) {
    .teamDeleteButton {
        width: 100%;
    }
}

@media (min-width: 451px) and (max-width: 495px) {
    .teamInputBox {
        width: 90px;
    }

    #teamBuilderBox *{
        font-size: 11px;
    }
}

@media (min-width: 451px) and (max-width: 492px) {
    .teamDeleteButton {
        font-size: 18px;
    }
}