.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#title {
  width: 100%;
  background-image:
    linear-gradient(
     rgb(54, 54, 54), rgb(24, 21, 21)
    );
  color: rgb(150, 35, 35);
  font-size: 30px;
  font-family: 'Macondo', cursive, 'Courier New', Courier, monospace;
}

#pokeInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: 
  linear-gradient(
    rgb(199, 44, 44), rgb(130, 102, 102), rgb(199, 44, 44)
  );
}

#pokeInfoBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-image: 
  linear-gradient(
    rgb(199, 44, 44), rgb(66, 44, 44)
  );
  color: white;
}

#pokeSprites {
  height: 250px;
  width: 200px;
  padding: 0 5px;
  border: 1px black solid;
  background-image: 
  linear-gradient(
    rgb(69, 67, 67), gray
  );
}

#pokeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  border: 1px black solid;
  background-image: 
  linear-gradient(
   gray, rgb(69, 67, 67)
  );
}

.compareBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fixedDiv {
  position: sticky;
  top: 0;
  background: white;
  width: 100%;
}

.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 250px
}

#pokemonHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}

img {
  width: 100px;
}

html {
  height: 100%;
  background-image: 
  linear-gradient(
    to left,
    rgb(54, 54, 54), rgb(176, 54, 54), rgb(108, 96, 96)
  );
}